{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
	<li><a href="/admin">后台管理</a></li>
	<li class="active">分类首页</li>
</ol>

<table class="table table-hover table-striped table-bordered text-center">
	<tr style="font-weight: bold">
		<td>分类ID</td>
		<td>分类名称</td>
		<td>分类操作</td>
	</tr>
	{% for category in categories %}
	<tr>
		<td>{{ category._id.toString() }}</td>
		<td>{{ category.category_name }}</td>
		<td>
			<button class="btn btn-info">
				<a href="/admin/category/edit?id={{ category._id.toString() }}">编辑</a>
			</button>
			<button class=" btn btn-danger">
				<a href="/admin/category/delete?id={{ category._id.toString() }}">删除</a>
			</button>
		</td>
	</tr>
	{% endfor %}
</table>

<!-- 分页 -->
{% include 'page.html' %}
{% endblock %}